---
import { Image } from "astro:assets";
import Reviews from "./Reviews.astro";
import BrandingCard from "./BrandingCard.astro";

import HeroCtaIndustry from "../../../assets/img/hero_cta_industry.webp"
---

<div class="grid grid-cols-8 p-16 gap-8 auto-rows-fr justify-center items-center m-auto">
    <div class="col-span-2  overflow-hidden h-full">
        <Image src={HeroCtaIndustry} alt="Hero CTA Industry" class="rounded-2xl"  />
    </div>
    <div class="h-full rounded-2xl flex items-end col-span-1">
        <div class="w-full bg-primary h-2/3 rounded-2xl text-center text-white flex flex-col justify-center">
            <h3 class="text-4xl font-bold">100+</h3>
            <p class="text-sm opacity-65 p-6">Our esteemed Clients and Partners</p>
        </div>
    </div>
    <div class="w-full h-full rounded-2xl col-span-2 grid  grid-cols-1 justify-between">
        <div>
            <Reviews />
        </div>
        <div>
            <BrandingCard customClass="h-1/4 w-full" />
        </div>
    </div>
    <div class="h-full rounded-2xl flex items-end col-span-1">
        <div class="w-full bg-cta h-2/3 rounded-2xl text-center text-primary flex flex-col justify-center">
            <h3 class="text-4xl font-bold">6+</h3>
            <p class="text-sm p-6">Years of dedicated services</p>
        </div>
    </div>
    <div class="bg-red-400 h-full rounded-2xl col-span-2">5</div>
</div>
