---
import Reviews from "./Reviews.astro";
import BrandingCard from "./BrandingCard.astro";
---
<div class="flex flex-col gap-8">
    <Reviews />
    <BrandingCard customClass="w-3/4" />
</div>
