<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content="Discover Velora, the future of manufacturing powered by the latest technology. Innovating processes, enhancing efficiency, and driving sustainable industrial solutions for a smarter tomorrow." />
		<title>Velora - The Future of Manufacturing with Latest Technology</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		scroll-behavior: smooth;
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: Arial, sans-serif;
	}
</style>
