---
import BrandingLink from "./components/BrandingLink.astro";
---

<div class="p-4 flex justify-between items-center shadow bg-white">
    <BrandingLink />
    <button type="button" class="text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <rect width="36" height="36" fill="none" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 6h10M4 12h16M7 12h13M7 18h10" />
        </svg>
    </button>
</div>
